name: Build package

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build_pkg:
    runs-on: ubuntu-22.04
    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Checkout apollo-lib
      uses: actions/checkout@v4
      with:
        repository: bucanero/apollo-lib
        path: apollo-lib

    - name: Checkout dbglogger
      uses: actions/checkout@v4
      with:
        repository: bucanero/dbglogger
        path: dbglogger

    - name: Checkout vdpm
      uses: actions/checkout@v4
      with:
        repository: vitasdk/vdpm
        path: vdpm

    - name: Set env vars
      run: |
        echo "sha_name=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV
        echo "VITASDK=${GITHUB_WORKSPACE}/vitasdk" >> $GITHUB_ENV

      # install latest vita sdk
    - name: Download Vita SDK
      working-directory: vdpm
      run: |
        ./bootstrap-vitasdk.sh

    - name: Install SDK libraries
      working-directory: vdpm
      run: |
        ./vdpm zlib
        ./vdpm zstd
        ./vdpm bzip2
        ./vdpm libpng
        ./vdpm freetype
        ./vdpm taihen
        ./vdpm sdl2
        ./vdpm openssl
        ./vdpm curl
        ./vdpm unrar
        ./vdpm polarssl
        ./vdpm un7zip
        ./vdpm libxml2
        ./vdpm libxmp-lite
        ./vdpm mini18n
        sed '65s/.*/INTERFACE_LINK_LIBRARIES "\$<LINK_ONLY:OpenSSL::SSL>;\$<LINK_ONLY:OpenSSL::Crypto>;\$<LINK_ONLY:ZLIB::ZLIB>;${_IMPORT_PREFIX}\/lib\/libzstd.a"/' ${VITASDK}/arm-vita-eabi/lib/cmake/CURL/CURLTargets.cmake > tmp.cmake
        cp tmp.cmake ${VITASDK}/arm-vita-eabi/lib/cmake/CURL/CURLTargets.cmake

    - name: Install zip
      run: |
        curl -sL https://libzip.org/download/libzip-1.9.2.tar.gz | tar xz -C ./
        cd libzip-1.9.2
        cmake -DCMAKE_TOOLCHAIN_FILE=${VITASDK}/share/vita.toolchain.cmake -DBUILD_SHARED=OFF -DBUILD_EXAMPLES=OFF -DBUILD_TOOLS=OFF -DBUILD_REGRESS=OFF -DBUILD_DOC=OFF -DENABLE_LZMA=OFF -DENABLE_ZSTD=OFF .
        make
        cp zipconf.h ${VITASDK}/arm-vita-eabi/include/zipconf.h
        cp lib/zip.h ${VITASDK}/arm-vita-eabi/include/zip.h
        cp lib/libzip.a ${VITASDK}/arm-vita-eabi/lib/libzip.a

    - name: Install dbglogger
      working-directory: dbglogger
      run: |
        make -f Makefile.vita install

    - name: Install apollo-lib
      working-directory: apollo-lib
      run: |
        make -f Makefile.vita install

    - name: Build Apollo App Package
      run: |
        cmake .
        make createzip
        make

    - name: Push package artifact
      uses: actions/upload-artifact@v4
      with:
        name: apollo-vita-build_${{ env.sha_name }}
        path: apollo-vita.vpk
        if-no-files-found: error
